# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Environment stuff
.env

# Exclude compiled files
dist

# Editors
*.swo
*.swp

# generated test files

tests/fixtures/schemas
tests/schemas/
